# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit deimosd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/deimos/deimos.conf

[Unit]
Description=DeiMos daemon
After=network.target

[Service]
ExecStart=/usr/bin/deimosd -daemon -conf=/etc/deimos/deimos.conf -pid=/run/deimosd/deimosd.pid
# Creates /run/deimosd owned by deimos
RuntimeDirectory=deimosd
User=deimos
Type=forking
PIDFile=/run/deimosd/deimosd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
